<h3>Login to Phonebook <button class="btn btn-warning" style="float: right;" [routerLink]="['/users']">Back</button></h3><br>
<hr>
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
            <div class="col-sm-2">
                <label>Email:</label>
            </div>
            <div class="col" style="float: left;">
                <input type="text" formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Password:</label>
            </div>
            <div class="col" style="float: left;">
                <input type="password" formControlName="password">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Login</button>&nbsp;<button class="btn btn-danger" type="reset">Clear</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col">
                <a href="/add-user">Register New User</a>
            </div>
        </div>
    </form>
</div>